.dashboard-page {
    width: auto;
    text-align: left;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.dashboard-page .header p {
    color: grey;
}
.dashboard-page .points-div {
    color: white;
    padding: 2rem;
    background: linear-gradient(to bottom, #448efc, #155DFC);
    border-radius: 1rem;
}
.dashboard-page .points-div h1 {
    font-weight: 500;
}
.dashboard-page .points-div h4 {
    font-weight: 400;
    font-size: 1.25rem;
}

.dashboard-page .quick-actions-div {
    margin-top: 1rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.dashboard-page .quick-action-card {
    flex-grow: 1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.75rem;
    gap: 0.5rem;
}
.dashboard-page .quick-action-card:hover {
    color: #155DFC;
}
.dashboard-page .icon {
    display: block;
    color: #155DFC;
    margin: 0px;
    padding: 0px;
}
.dashboard-page .quick-action-card .icon-wrap {
    background-color: #DBEAFE;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: max-content;
    height: max-content;
}

.dashboard-page .account-info-div .info-grid {
    margin-top: 1rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 1rem;
}
.dashboard-page .account-info-div .info-grid .right {
    text-align: right;
}