* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  min-height: 100vh;
  width:100%;
  display: grid;
  grid-template-areas:
    "top-bar top-bar top-bar"
    "left-sidebar main-content right-sidebar";
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 60px 1fr;
  background-color: white;
}

.top-bar {
  grid-area: top-bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 1rem;
}

#page-links{
  display:flex;
  flex-direction: row;
  gap: 1rem;
} 

#page-links .icon{
  display: block;
  margin: 0 auto; 
} 
.nav-button{
  text-decoration: none;
  color:#717182;
  display: flex;
  flex-direction: column;
  font-size: small;
  padding: 1rem;
}


.nav-button:hover{
  background-color: #F3F4F6;
  color: #717182;
}

#main-content{
  background-color: #F3F4F6;
}


#user-dropdown:hover{
  cursor:pointer;
}

#user-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#user-dropdown .icon{
  color:#3c3c41;
}

#user-dropdown .dropdown-content {
  position: absolute;
  top: 100%;       
  right: 0;          
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: none;    
  flex-direction: column;
  width: max-content;
  min-width: auto;
  z-index: 1000;   
}

.extra-dropdown{
  display: none;
}

#user-dropdown:hover .dropdown-content {
  display: flex;
}

#user-dropdown .dropdown-content .dropdown-button {
  padding: 0.5rem;
  text-align: left;
  color: #3c3c41;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

#user-dropdown .dropdown-content .dropdown-button:hover {
  border-radius: 10px;
  background-color: #F3F4F6;
}

.dropdown-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#app-div{
  color: #0a0a0a;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0.5rem;
}

#app-icon{
  color: #155DFC;
  width: 25px;
  height: 25px;
}

#user-icon{
  color:black;
}

.nav-button.active {
  color: black;
}

.icon{
  color: #717182;
  width: 16px;
  height: 16px;        
}

.nav-button.active .icon{
  color:black;
}

@media (max-width: 1100px) {
  #page-links {
    display: none; 
  }

  .layout-container{
    grid-template-columns: 0rem 1fr 0rem;
  }

  .extra-dropdown{
    display:flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  .nav-button{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    font-size: medium;
    border-radius: 10px;
  }

  #line{
    margin:0.2rem;
  }

  .icon{
    color:#717182;
    width: default;
    height: default;
  }

  .nav-button.active .icon{
    color:black;
  }
}


