#settings_body{
    padding: 2rem 1rem;
    margin: 0 120px;
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0A0A0A;
    margin-bottom: 2rem;
}

.profile-header img {
    align-self: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;      
    border: 1px solid #717182;
    object-fit: cover;       
    margin-right: 1rem;
}

#profile-name{
    text-align: left;
}

#profile-name h2{
    font-size: x-large;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}

#profile-name p{
    line-height: 1;
    font-size: small;
    color: #717182;
}

.menu{
    width: fit-content;  
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    gap: 0.5rem;
    color:#717182;
    text-align: left;
}

.icon{
  color: #717182;
  width: 20px;
  height: 20px;
  align-self: start;
}

.button:hover{
  cursor: pointer;
  color:#717182;
  background-color:#e0e3ea;
  border-radius: 10px;
}

.button.active{
    color:#0A0A0A
}
.button.active .icon{
    color:#0A0A0A
}


.profile-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.settings-page{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(15, 23, 42, 0.06);
    color:#0A0A0A;
    width: clamp(350px, 50vw, 900px);

}

.description{
    text-align: left;
    flex: 1;
    padding: 1rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.description #title{
    font-size: larger;
    font-weight: 600;
    color: #0A0A0A;
}

.description #explanation{
    font-size: small;
    color: #717182;
}


form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  padding: 2rem;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}

form.password{
    grid-template-columns: 1fr;
}

form.password input{
    width: 70%;
}

.right-inputs{
    display:flex;
    flex-direction:column;
    text-align: left;
}

.password-input-wrapper{
    display: flex;
    align-items: center;
}

.eyeToggle{
    position: relative;
    background: none;
    right: 1.8rem;
    border: none;
    cursor: pointer;
    padding: 0;
    width: fit-content;
}


form label{
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

form input {
    padding: 0.625rem 1rem;
    width: 100%;          
    max-width: 100%;      
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #D0D0D5;   
    color: #0A0A0A;              
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border: 2px solid #3b31f1;
    background-color: #ffffff;
}

input[type="date"]{
    color-scheme: light;
    color: #717182;
    opacity: 1;
    cursor: pointer;
}

.profile-avatar-section {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 2rem;
    text-align: left;
}

.avatar-wrapper {
    position: relative;
    width: fit-content;
}

.edit-avatar-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:#F3F3F5; 
    color:#0A0A0A;
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #717182;
    object-fit: cover;
}

.profile-avatar-section button:focus{
    border:transparent
}

.submit-form{
    margin-top: 2rem;
    width: fit-content;
    background-color: #0A0A0A;
    color: #ffffff;
    padding: 0.6rem 1.4rem;
    border-radius: 10px;
    border: 1px solid transparent;  
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    align-self: flex-end;
}




.submit-form:hover {
    background-color: #1c1c1c;
    border-color: #D0D0D5; 
}

.input-error {
    color: #d32f2f;
    font-size: 0.75rem;
    padding-bottom: 1rem;
}

.input-error.message{
    color:#717182
}

.account-info{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

.user-info-div{
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.user-info-div .title{
    padding: 0.5rem;
    color: #717182;
    font-weight: 400;
    font-size: large;
    text-align: left;
}

.user-info-div .info{
   padding: 0.5rem 1rem;
   font-size: 18px;
   display: flex;
   align-items: center;
   white-space: nowrap;
}

.user-info-div .info.points{
   color:#0A0A0A;
   font-weight: 600;
}

.user-info-div .info.role {
   color: #0A0A0A;
   border: 2px solid #F3F4F6; 
   border-radius: 20px;
   font-weight: 400;
   display: inline-block;
}

.user-info-div .info.utorid {
   color: #0A0A0A;
   font-weight: 500;
   background-color: #F3F4F6;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 20px;
   display: inline-block;       
}

.user-info-div .info.verified {
   border: 2px solid #7BF1A8; 
   background-color: #DCFCE7;
   border-radius: 20px;
   font-weight: 400;
   display: inline-block;
   color: #008236;
}
   
.user-info-div .info.unverified {
    color: #B91C1C;
    border: 2px solid #FCA5A5; 
    background-color: #FEE2E2;
    border-radius: 20px;
    font-weight: 400;
    display: inline-block;
}

#forgot-password:hover{
    text-decoration: underline;
}

label.required::after {
    content: " *";
    font-size: medium;
}

@media (max-width: 1100px) { 
    .settings-page {
        width: 98%;      
        max-width: 900px;  
        margin: 0 auto;    
    }

    #settings_body{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .profile-page{
        display: flex;
        flex-direction: column;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    form.password input{
        width: 1000%;
    }

    .right-inputs{
        width: 100%; 
    }

}


