#settings_body{
    padding: 4rem 1rem;
    margin: 0 130px
}

.profile-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0A0A0A;
    margin-bottom: 2rem;
}

.profile-header img {
    align-self: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;      
    border: 1px solid #717182;  
    object-fit: cover;       
    margin-right: 1rem;
}

#profile-name{
    text-align: left;
}

#profile-name h2{
    font-size: x-large;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}

#profile-name p{
    line-height: 1;
    font-size: small;
    color: #717182;
}

.menu{
    width: fit-content;  
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    gap: 0.5rem;
    color:#717182
}

.icon{
  color: #717182;
  width: 20px;
  height: 20px;
}

.button:hover{
  cursor: pointer;
  color:#717182;
  background-color:#e0e3ea;
  border-radius: 10px;
}

.button.active{
    color:#0A0A0A
}
.button.active .icon{
    color:#0A0A0A
}


.profile-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.settings-page{
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(15, 23, 42, 0.06);
    color:#0A0A0A;

}

.description{
    text-align: left;
    padding: 1rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.description #title{
    font-size: larger;
    font-weight: 400;
}

.description #explanation{
    font-size: small;
    color: #717182;
}

.profile-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #717182;  
    object-fit: cover;       
}

form{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
}

.left-inputs{
    display:flex;
    flex-direction:column;
    text-align: left;
    min-width: 400px;
    
}


form label{
    font-size: small;
    color: black;
    font-weight: 600;
}

form input {
    padding: 0.6em 0.8em;
    border-radius: 10px;
    background-color: #F3F3F5;
    border: 2px solid #D0D0D5;   
    color: #0A0A0A;              
    margin-bottom: 2rem;
    font-size: 14px;
}

form input:focus {
    outline: none;
    border: 2px solid #3b31f1;
    background-color: #ffffff;
}

input[type="date"]{
    color-scheme: light;
    color: #717182;
    opacity: 1;
    cursor: pointer;
}

.profile-avatar-section {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 2rem;
    text-align: left;
}

.profile-avatar-section button{
    background-color:#F3F3F5; 
    color:#0A0A0A;
    max-width: fit-content;
    position: absolute;
    bottom: 130px;
    right: 125px;
    border: none;
    padding: 0.1rem 0.6rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.profile-avatar-section button:focus{
    border:transparent
}

.submit-form{
    margin-top: 2rem;
    width: fit-content;
    background-color: #0A0A0A;
    color: #ffffff;
    padding: 0.6rem 1.4rem;
    border-radius: 10px;
    border: 1px solid transparent;  
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

    

.submit-form:hover {
    background-color: #1c1c1c;
    border-color: #D0D0D5; 
}



@media (max-width: 1100px) {
    #settings_body{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .profile-page{
        display: flex;
        flex-direction: column;
    }
}


