.promotions-page {
    width: auto;
    text-align: left;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.promotions-page .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.promotions-page .header p {
    color: grey;    
}
.promotions-page .manage-promotions-button {
    padding: 0.75rem 1.5rem;
    background-color: #030213;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
}
.promotions-page .manage-promotions-button:hover {
    background-color: #22222b;
    cursor: pointer;
    color: white;
}

.promotions-page .promotions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.promotions-page .promotion-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: auto;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promotions-page .promotion-header {
    display: flex;
    justify-content: space-between;
}
.promotions-page .promotion-header h4 {
    margin: 0;
    font-size: 1rem;
}

.promotions-page .promotion-status.active {
    background-color: #DCFCE7;
    border: 1px solid #7BF1A8;
    color: #008236;
}
.promotions-page .promotion-status.expired {
    background-color: #fcdcdc;
    border: 1px solid #f17b7b;
    color: #820000;
}
.promotions-page .promotion-status.upcoming {
    background-color: #dbeafe;
    border: 1px solid #85b4f2;
    color: #1e40af;
}

.promotions-page .promotion-status {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.promotions-page .promotion-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}
.promotion-footer p {
    color: #555;
}
