.promotions-page {
  width: auto;
  text-align: left;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.promotions-page .header p {
  color: grey;
}

.promotions-page .promotions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.promotions-page .promotion-card {
    border: 1px solid #ddd;
    padding: 1rem;
    width: auto;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promotions-page .promotion-header {
    display: flex;
    justify-content: space-between;
}
.promotions-page .promotion-header h4 {
    margin: 0;
    font-size: 1rem;
}
.promotions-page .promotion-status.green {
    background-color: #DCFCE7;
    border: 1px solid #7BF1A8;
    color: #008236;
}
.promotions-page .promotion-status.red {
    background-color: #fcdcdc;
    border: 1px solid #f17b7b;
    color: #820000;
}
.promotions-page .promotion-status {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.promotions-page .promotion-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}
.promotion-footer p {
    color: #555;
}
