

#user-management-page{
    padding: 4rem 1rem;
    margin: 0 130px;
}

.user-management-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0A0A0A;
    margin-bottom: 2rem;
}


#title-section{
    text-align: left;
}

#title-section h2{
    font-size: x-large;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
}

#title-section p{
    line-height: 1;
    font-size: small;
    color: #717182;
}

/* user searcch and filtering stylings */
#user-search-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter-bar{
    background-color: #fff;
    border-radius: 10px;
    color:#0A0A0A;
    text-align: left;
    padding: 1rem;
    padding-bottom: 0rem;
    width: max-content;
}

.filter-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.filter-form .filters{
    display: flex; 
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.filter-form .filters div{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.filter-form input[type="search"],
.filter-form select {
    background-color: #f3f4f6; 
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;      
    padding: 0.5rem 1rem;    
    font-size: 0.9rem;
    color: #0a0a0a;
    outline: none;
}

.filter-form .update-filters{
    display: flex;
    gap: 0.5rem;
}

.reset-filters-button{
    padding: 0.2rem 1rem;
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    color: #0A0A0A;

}
.users-list{
    background-color: transparent;
    border: 4px solid white;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    color: #0A0A0A;
    flex: 1;
    text-align: left;
}
